ClientService/xml-resources/web-service-references/covidWebService/wsdl/localhost_8080/SoapService/covidWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="findByYear" type="tns:findByYear"/>

<xs:element name="findByYearResponse" type="tns:findByYearResponse"/>

<xs:complexType name="findByYear">
<xs:sequence>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByYearResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>